.activity .event {
  padding: 1em;
}

.activity .event:hover {
  background-color: #EDF6F7;
}

.activity .event .avatar {
  float: left;
  padding-right: 0.4em;
}

.activity .event .title {
  font-weight: bold;
  font-size: 17pt;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity .event img {
  border: 1px solid #EEE;
}

.activity a.more-button {
  display: block;
  text-align: center;
  padding: 0.5em;
  border: 1px solid #DDD;
  background-color: #EEE;
  border-radius: 0.4em;
}

.activity a.more-button:hover {
  background-color: #DEF;
  border-color: #ABC;
}

/* Portlet */
.portletActivity .event {
  margin-bottom: 1em;
}

.portletActivity .event .avatar {
  float: left;
  padding-right: 0.4em;
}
/* End Portlet */
