.activity .event {
  padding: 1em;
}

.activity .event:hover {
  background-color: #EDF6F7;
}

.activity .event > * {
  margin-left: 60px;
}

.activity .event .avatar {
  float: left;
  margin-left: 0px;
}

.activity .event .body .title {
  font-weight: bold;
  font-size: 150%;
}

.activity .event img {
  border: 1px solid #EEE;
}

.activity a.more-button {
  display: block;
  text-align: center;
  padding: 0.5em;
  border: 1px solid #DDD;
  background-color: #EEE;
  border-radius: 0.4em;
}

.activity a.more-button:hover {
  background-color: #DEF;
  border-color: #ABC;
}
